#about {
  .inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .fp-overflow {
    display: flex;
    // gap: 50px;
  }

  .about-info {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    // margin: 0 5vw;

    h2 {
      position: relative;
      font-size: 4vw;
      color: #4e4e4e;
      // padding: 25px 0;
      word-break: keep-all;
      margin-bottom: 30px;
      // padding-left: 30px;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 26px;
      //   left: 0;
      //   width: 20px;
      //   height: 60px;
      //   background: #7e7e7e;
      // }
    }
  }
  hr {
    display: block;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  img {
    margin: 50px 5vw 0;
    width: 20vw;
  }
  .skill-container {
    // width: 80%;
    padding: 50px 40px 30px;
    background: rgba(240, 240, 240, 0.767);
    // background: rgba(240, 240, 240, 0.5);
    backdrop-filter: 5px;
    display: flex;
    gap: 58px;
    // margin-top: 60px;
    margin: 60px auto 40px;
    ul {
      margin-top: 8px;
    }
    .icon {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-bottom: 15px;
      p {
        margin: 0;
      }
    }
    .skill-up {
      display: flex;
      flex-direction: column;
      gap: 37px;
      .introduct {
        padding-bottom: 20px;
        border-bottom: solid 1px #777777;
      }
      .education {
        padding-bottom: 20px;
        border-bottom: solid 1px #777777;
      }

      ul {
        li {
          font-size: 0.9375rem;
          b {
            padding-right: 10px;
          }
        }
      }
      .skill {
        display: flex;
        flex-direction: column;
        gap: 10px;
        ul {
          display: flex;
          flex-direction: column;
          li {
            display: flex;
            gap: 8px;
            margin-bottom: 10px;
            ul {
              display: flex;
              flex-direction: row;
              li {
                img {
                  width: 2.4vw;
                  min-width: 40px;
                  margin: 0 10px;
                }
                .fa-brands {
                  font-size: 2.5vw;
                  margin: 0 7px;
                }
              }
            }
          }
        }
      }
    }

    .skill-down {
      display: flex;
      flex-direction: column;
      // gap: 30px;
      position: relative;
      .Career {
        display: flex;
        flex-direction: column;
        // padding-left: 20px;
        // border-left: solid 1px #000;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -30px;
          width: 1px;
          height: 70vh;
          background: #838383;
        }
        .icon {
          padding-right: 30px;
        }
        ul {
          margin-bottom: 20px;
          li {
            ul {
              margin: 10px 15px 20px;
              li {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
