#detailed_page {
  height: 100vh;

  h2 {
    font-size: 3vw;
    color: #666666;
    // padding: 25px 0;
    word-break: keep-all;
    text-align: center;
    margin: 0 auto 52px;
  }

  #page_lst {
    width: 80%;
    margin: 0 auto;
  }
  .page_li {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(15px);
  }

  .page {
    width: 14%;
    height: 68vh;
    margin: 0 auto;
    overflow: hidden;
  }
  .page.page1 {
    height: 56vh;
  }
  .page.page2 {
    height: 62vh;
  }
  .page.page4 {
    height: 64vh;
  }
  .page.page5 {
    height: 55vh;
  }
  .page.page6 {
    height: 58vh;
  }
  a {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
    transform: translateY(0);
    transition: 3s ease-in-out;

    &:hover {
      @media (max-width: 800px) {
        transform: translateY(calc(-100% + 400px));
      }
      @media (max-width: 528px) {
        transform: translateY(calc(-100% + 260px));
      }
      // width: 100%;
      height: auto;
      object-fit: cover;
      transform: translateY(calc(-100% + 600px));
      transition: 3s ease-in-out;
    }
  }
}
