// .sec3 {
//   .inmer {
//     .site-contents {
//       .site1-txt {
//         padding: 70px 0px 100px !important;
//       }
//     }
//   }
// }
#site {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  .inner {
    max-width: 1770px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
  }
  a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .site-title {
    width: 15%;
    text-align: start;
    padding: 80px 0 55px;
    margin-right: 60px;
    h2 {
      width: 100%;
      text-align: start;
      margin-bottom: 0px;
      font-size: 3vw;
      word-break: keep-all;
      color: #efefef;
      text-transform: none;
      line-height: 1.2;
    }
  }

  .site-contents {
    @media (max-width: 1500px) {
      padding: 150px 80px 50px;
    }
    display: flex;
    align-items: flex-start;
    gap: 3%;
    padding: 150px 80px 50px;

    .site-view {
      width: 40%;
      height: 65vh;
      .site-img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 10px;
        box-shadow:
          0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        a {
          width: 100%;
        }
        img {
          display: block;
          width: 95%;
          object-fit: cover;
          object-position: top;
          margin: 0 auto;
          object-fit: cover;
          object-position: top;
          transform: translateY(0);
          transition: 2s ease-in-out;

          &:hover {
            @media (max-width: 800px) {
              transform: translateY(calc(-100% + 400px));
            }
            @media (max-width: 528px) {
              transform: translateY(calc(-100% + 260px));
            }
            // width: 100%;
            height: auto;
            object-fit: cover;
            transform: translateY(calc(-100% + 600px));
            transition: 2s ease-in-out;
          }
        }
      }
    }
  }

  .site-text {
    word-break: keep-all;
    padding: 85px 0px 100px;
    // width: 30%;
    flex-grow: 1;

    .site-info {
      line-height: 1.6;
      font-size: 1.0625rem;
      text-align: start;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
      padding-bottom: 22px;
      word-break: keep-all;
    }
    .site-p {
      color: rgba(255, 255, 255, 0.7);
      word-break: keep-all;
      ul {
        line-height: 1.6;
        text-align: start;
        li {
          display: flex;
          width: 100%;
          padding-bottom: 4px;
          b {
            width: 100px;
            text-transform: uppercase;
            padding-right: 20px;
            word-break: keep-all;
          }
          span {
            width: 350px;
            word-break: keep-all;
          }
        }
      }
    }
  }
  .site-icon {
    .icon-link {
      @media (max-width: 800px) {
        padding: 30px 0;
      }
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 0 75px;
      // padding-top: 10px;
      a {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          height: 60px;
          padding: 10px;
        }

        .material-symbols-outlined {
          font-variation-settings:
            "FILL" 0,
            "wght" 300,
            "GRAD" 0,
            "opsz" 24;
          font-size: 50px;
          padding: 10px;
        }

        .site-git {
          display: block;
          font-size: 40px;
          padding: 10px;
          position: static !important;
        }
      }
    }
  }
}
#site,
// .sec3 {
//   .site-contents {
//     .site-view {
//       width: 85%;
//     }
//   }
// }
.sec4 {
  .fp-overflow {
    overflow-y: hidden;
  }
  .site-contents {
    @media (max-width: 1500px) {
      padding: 150px 80px 50px;
    }
    padding: 150px 20px 50px 80px;
    // padding: 150px 50px 50px 80px;
    .site-title {
      // width: 19% !important;
      h2 {
        font-size: 3vw;
        padding-right: -200px;
      }
    }
    .site-view {
      // width: 70% !important;
    }
    .site-text {
      width: 23% !important;
    }
  }
}
.fp-responsive .fp-is-overflow.fp-section {
  height: auto !important;
}
.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow > .fp-overflow {
  overflow-y: auto;
}
.fp-overflow {
  outline: 0;
}
.fp-overflow {
  justify-content: flex-start;
  max-height: 100%;
}
.fp-overflow {
  overflow-x: hidden;
}
