@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --basic-font: "pretendard";
  --mainEng-font: "Montserrat";
  --mainKor-font: "Noto Sans KR";
  --mainNum-font: "gmarket";
  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  /* 기본 폰트 설정 */
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  /* 폰트를 부드럽게 렌더링하기 위한 속성  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 아이폰 가로 모드에서 글씨 확대 금지 */
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}
body {
  color: var(--black100);
  background-color: #eee;
}

.mont {
  font-family: "Montserrat";
}

.pretendard {
  font-family: "Pretendard-Regular";
}

.gmarket {
  font-family: "GmarketSansMedium";
}

.notosanskr {
  font-family: "Noto Sans KR", sans-serif;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
header,
main,
article {
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  word-break: break-all;
}

fieldset,
img {
  border: 0 none;
  vertical-align: top;
  width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #111;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#about .inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#about .fp-overflow {
  display: flex;
}
#about .about-info {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .about-text h2 {
  font-size: 4vw;
  color: #4e4e4e;
  word-break: keep-all;
}
#about img {
  margin: 50px 5vw 0;
  width: 20vw;
}
#about .skill-container {
  padding: 50px 40px 30px;
  background: rgba(240, 240, 240, 0.5);
  -webkit-backdrop-filter: 5px;
          backdrop-filter: 5px;
  display: flex;
  gap: 58px;
  margin: 60px auto 40px;
}
#about .skill-container ul {
  margin-top: 8px;
}
#about .skill-container .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}
#about .skill-container .icon p {
  margin: 0;
}
#about .skill-container .skill-up {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
#about .skill-container .skill-up .introduct {
  padding-bottom: 20px;
  border-bottom: solid 1px #777777;
}
#about .skill-container .skill-up .education {
  padding-bottom: 20px;
  border-bottom: solid 1px #777777;
}
#about .skill-container .skill-up ul li {
  font-size: 0.9375rem;
}
#about .skill-container .skill-up ul li b {
  padding-right: 10px;
}
#about .skill-container .skill-up .skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#about .skill-container .skill-up .skill ul {
  display: flex;
  flex-direction: column;
}
#about .skill-container .skill-up .skill ul li {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
#about .skill-container .skill-up .skill ul li ul {
  display: flex;
  flex-direction: row;
}
#about .skill-container .skill-up .skill ul li ul li img {
  width: 2.4vw;
  min-width: 40px;
  margin: 0 10px;
}
#about .skill-container .skill-up .skill ul li ul li .fa-brands {
  font-size: 2.5vw;
  margin: 0 7px;
}
#about .skill-container .skill-down {
  display: flex;
  flex-direction: column;
  position: relative;
}
#about .skill-container .skill-down .Career {
  display: flex;
  flex-direction: column;
}
#about .skill-container .skill-down .Career::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 1px;
  height: 70vh;
  background: #838383;
}
#about .skill-container .skill-down .Career .icon {
  padding-right: 30px;
}
#about .skill-container .skill-down .Career ul {
  margin-bottom: 20px;
}
#about .skill-container .skill-down .Career ul li ul {
  margin: 10px 15px 20px;
}
#about .skill-container .skill-down .Career ul li ul li {
  font-size: 0.9375rem;
}

.sec-5 .site-title {
  width: 20%;
  margin-right: 20px;
}
.sec-5 .site-contents {
  padding: 150px 50px 50px 80px;
}

#site {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
#site .inner {
  max-width: 1770px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
#site a {
  display: block;
  color: #fff;
  text-decoration: none;
}
#site .site-title {
  width: 16%;
  text-align: start;
  padding: 80px 0 55px;
}
#site .site-title h2 {
  width: 100%;
  text-align: start;
  margin-bottom: 0px;
  font-size: 3vw;
  word-break: keep-all;
  color: #efefef;
  text-transform: none;
  line-height: 1.2;
}
#site .site-contents {
  display: flex;
  align-items: flex-start;
  gap: 3%;
  padding: 150px 80px 50px;
}
#site .site-contents .site-view {
  width: 70%;
  height: 65vh;
}
#site .site-contents .site-view .site-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#site .site-contents .site-view .site-img a {
  width: 100%;
}
#site .site-contents .site-view .site-img img {
  display: block;
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  transform: translateY(0);
  transition: 2s ease-in-out;
}
#site .site-contents .site-view .site-img img:hover {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(calc(-100% + 600px));
  transition: 2s ease-in-out;
}
@media (max-width: 800px) {
  #site .site-contents .site-view .site-img img:hover {
    transform: translateY(calc(-100% + 400px));
  }
}
@media (max-width: 528px) {
  #site .site-contents .site-view .site-img img:hover {
    transform: translateY(calc(-100% + 260px));
  }
}
#site .site-text {
  word-break: keep-all;
  padding: 120px 0px 100px;
  width: 30%;
}
#site .site-text .site-info {
  line-height: 1.6;
  font-size: 1.0625rem;
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  padding-bottom: 22px;
  word-break: keep-all;
}
#site .site-text .site-p {
  color: rgba(255, 255, 255, 0.7);
}
#site .site-text .site-p ul {
  line-height: 1.6;
  text-align: start;
}
#site .site-text .site-p ul li {
  display: flex;
  width: 100%;
  padding-bottom: 4px;
}
#site .site-text .site-p ul li b {
  width: 100px;
  text-transform: uppercase;
  padding-right: 20px;
}
#site .site-text .site-p ul li span {
  width: 350px;
}
#site .site-icon .icon-link {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 75px;
}
@media (max-width: 800px) {
  #site .site-icon .icon-link {
    padding: 30px 0;
  }
}
#site .site-icon .icon-link a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
#site .site-icon .icon-link a img {
  width: 60px;
  height: 60px;
  padding: 10px;
}
#site .site-icon .icon-link a .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 50px;
  padding: 10px;
}

#product {
  overflow: hidden;
  height: 100vh;
  max-width: 200rem;
  margin: 0 auto;
  position: relative;
  @import url("https://fonts.googleapis.com/css?family=Cardo:700");
}
#product .title {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  height: 20vh;
}
#product .title h2 {
  font-size: 4vw;
  white-space: nowrap;
  opacity: 0.85;
  line-height: 10vh;
  color: #808080;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-141.5vw, 0);
  }
}
#product .g-container {
  margin: 0 auto;
  width: 1220px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product .g-container h2 {
  font-size: 3vw;
  color: #666666;
  padding: 25px 0;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#product .g-container .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}
#product .g-container .item {
  flex: 2;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
#product .g-container .item:hover {
  flex: 5;
}
#product .g-container .item-1 {
  background-image: url("../../image/dar_1.jpg");
}
#product .g-container img {
  display: block;
  opacity: 0.8;
}

#graphic {
  height: 100vh;
  margin: 0 auto;
}
#graphic .fp-overflow {
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}
#graphic .title {
  width: 20%;
  margin-left: 120px;
}
#graphic .title h2 {
  font-size: 3vw;
  color: #4e4e4e;
  text-transform: uppercase;
  word-break: keep-all;
}
#graphic .sns-wrap {
  position: relative;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  @import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
}
#graphic .sns-wrap * {
  box-sizing: border-box;
  font-weight: normal;
}
#graphic .sns-wrap body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}
#graphic .sns-wrap h1 {
  font-size: 2.2em;
}
#graphic .sns-wrap .horizontal {
  display: flex;
}
#graphic .sns-wrap .vertical {
  display: flex;
}
#graphic .sns-wrap .flip {
  position: relative;
}
#graphic .sns-wrap .flip > .front,
#graphic .sns-wrap .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
#graphic .sns-wrap .flip > .front {
  transform: rotateY(0deg);
  -o-object-fit: cover;
     object-fit: cover;
}
#graphic .sns-wrap .flip .front img {
  -o-object-fit: cover;
     object-fit: cover;
}
#graphic .sns-wrap .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
#graphic .sns-wrap .flip > .back h3 {
  word-break: keep-all;
  padding-bottom: 10px;
}
#graphic .sns-wrap .flip > .back p {
  word-break: keep-all;
}
#graphic .sns-wrap .flip:hover > .front {
  transform: rotateY(180deg);
}
#graphic .sns-wrap .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
#graphic .sns-wrap .flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
#graphic .sns-wrap .flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
#graphic .sns-wrap .flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
#graphic .sns-wrap .flip {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 1em;
  width: 280px;
}
#graphic .sns-wrap .flip > .front,
#graphic .sns-wrap .flip > .back {
  display: block;
  color: white;
  width: 300px;
  background-size: cover !important;
  background-position: center !important;
  height: 370px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
#graphic .sns-wrap .flip > .front p,
#graphic .sns-wrap .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
#graphic .sns-wrap .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

#banner {
  height: 100vw;
}
#banner body {
  background: #aaa;
  font-family: "Open Sans", sans-serif;
}
#banner .slider {
  position: relative;
  height: 80vh;
  width: 100vw;
  background: #777;
  overflow: hidden;
}
#banner .slider__wrap {
  position: absolute;
  width: 100vw;
  height: 80vh;
  transform: translateX(100vw);
  top: 0%;
  left: 0;
  right: auto;
  overflow: hidden;
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: 0% 50%;
  transition-delay: 450ms;
  opacity: 0;
}
#banner .slider__wrap--hacked {
  opacity: 1;
}
#banner .slider__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: none;
  transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner .slider__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-size: auto 133.3333%;
  background-position: center;
  background-repeat: none;
  transform: scale(0.75);
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
  opacity: 0;
  box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
  padding: 15vh;
  box-sizing: border-box;
}
#banner .slider__content {
  position: relative;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  color: white;
  font-family: "Heebo", sans-serif;
  opacity: 0;
  transition: opacity 450ms;
}
#banner .slider__content h1 {
  font-weight: 900;
  font-size: 9vh;
  line-height: 0.85;
  margin-bottom: 0.75vh;
  pointer-events: none;
  text-shadow: 0 0.375vh 0.75vh rgba(0, 0, 0, 0.1);
}
#banner .slider__content a {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 50%;
  font-size: 2.4vh;
  letter-spacing: 0.3vh;
  font-weight: 100;
  position: relative;
}
#banner .slider__content a:after {
  content: "";
  display: block;
  width: 9vh;
  background: white;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 6vh;
  transform: translateY(-50%);
  transform-origin: 0% 50%;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner .slider__content a:before {
  content: "";
  border-top: 3px solid white;
  border-right: 3px solid white;
  display: block;
  width: 1vh;
  height: 1vh;
  transform: translateX(0) translateY(-50%) rotate(45deg);
  position: absolute;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  top: 40px;
  left: 15vh;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner .slider__content a:hover:after {
  transform: scaleX(1.5);
  transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner .slider__content a:hover:before {
  transform: translateX(6vh) translateY(-50%) rotate(45deg);
  transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner .slider__slide {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 600ms;
  pointer-events: none;
  z-index: 0;
}
#banner .slider__slide--active {
  transform: translatex(0%);
  z-index: 2;
}
#banner .slider__slide--active .slider__wrap {
  transform: translateX(0);
  transform-origin: 100% 50%;
  opacity: 1;
  animation: none;
}
#banner .slider__slide--active .slider__back {
  filter: blur(1.5vh);
  transition: filter 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 900ms !important;
}
#banner .slider__slide--active .slider__inner {
  transform: scale(0.8);
  box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  opacity: 1;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
  transition-delay: 900ms;
}
#banner .slider__slide--active .slider__content {
  opacity: 1;
  transition-delay: 1350ms;
}
#banner .slider__slide:not(.slider__slide--active) .slider__wrap {
  animation-name: hack;
  animation-duration: 900ms;
  animation-delay: 450ms;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes hack {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  51% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  52% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}
#banner .slider__slide:nth-child(1) .slider__back, #banner .slider__slide:nth-child(1) .slider__inner {
  background-image: url(https://unsplash.it/1600/800/?image=931);
}
#banner .slider__slide:nth-child(2) .slider__back, #banner .slider__slide:nth-child(2) .slider__inner {
  background-image: url(https://unsplash.it/1600/800/?image=929);
}
#banner .slider__slide:nth-child(3) .slider__back, #banner .slider__slide:nth-child(3) .slider__inner {
  background-image: url(https://unsplash.it/1600/800/?image=927);
}
#banner .sig {
  position: fixed;
  bottom: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
  z-index: 9999;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.sec1 {
  background-color: #efefef;
}

.sec2 {
  background-color: #d9d9d9;
  background-image: linear-gradient(172deg, #efefef 33%, #d9d9d9 88%);
}

.sec3 {
  background-color: #747070;
  background-image: linear-gradient(185deg, #d9d9d9 0%, #747070 68%);
}

.sec4 {
  background-color: #535050;
  background-image: linear-gradient(172deg, #747070 33%, #535050 88%);
}

.sec5 {
  background-color: #535050;
  background-image: linear-gradient(179deg, #535050 26%, #c2bfbf 84%);
}

.sec6 {
  background-color: #e6e6e6;
  background-image: linear-gradient(167deg, #c2bfbf 26%, #ebebeb 74%);
}

.sec7 {
  background-color: #ebebeb;
}

.sec8 {
  background-color: #ebebeb;
}

.sec9 {
  background-color: #e6e6e6;
  background-image: linear-gradient(180deg, #ebebeb 0%, #ececec 74%);
}

#intro h1 {
  font-size: 4vw;
  margin: 0 5vw;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
#intro .typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 5vw;
  color: #494949;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#intro h3 {
  margin: 5px 10vw;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  margin-top: 5px;
}/*# sourceMappingURL=comm.css.map */