@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --basic-font: "pretendard";
  --mainEng-font: "Montserrat";
  --mainKor-font: "Noto Sans KR";
  --mainNum-font: "gmarket";
  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  /* 기본 폰트 설정 */
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  /* 폰트를 부드럽게 렌더링하기 위한 속성  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 아이폰 가로 모드에서 글씨 확대 금지 */
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}
body {
  color: var(--black100);
  background-color: #eee;
}

.mont {
  font-family: "Montserrat";
}

.pretendard {
  font-family: "Pretendard-Regular";
}

.gmarket {
  font-family: "GmarketSansMedium";
}

.notosanskr {
  font-family: "Noto Sans KR", sans-serif;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
header,
main,
article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  word-break: break-all;
}

fieldset,
img {
  border: 0 none;
  vertical-align: top;
  width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #111;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#about .inner {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
@media (max-width: 1440px) {
  #about .inner {
    height: auto !important;
    gap: 10px;
    flex-direction: column;
  }
}
#about .fp-overflow {
  display: flex;
}
#about .about-info {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
@media (max-width: 1440px) {
  #about .about-info {
    width: 100%;
  }
}
#about .about-text h2 {
  position: relative;
  font-size: 4vw;
  color: #4e4e4e;
  word-break: keep-all;
  margin-bottom: 30px;
}
#about hr {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
#about img {
  margin: 40px 5vw 0;
  width: 17vw;
}
#about .skill-container {
  width: 64%;
  padding: 50px 10px 30px 56px;
  background: rgba(240, 240, 240, 0.767);
  -webkit-backdrop-filter: 5px;
          backdrop-filter: 5px;
  display: flex;
  margin: 60px auto 40px;
}
@media (max-width: 1440px) {
  #about .skill-container {
    display: none;
    width: 100%;
  }
}
#about .skill-container ul {
  margin-top: 8px;
}
#about .skill-container .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
#about .skill-container .icon p {
  margin: 0;
  font-size: 24px;
}
#about .skill-container .skill-up {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex-grow: 1;
}
#about .skill-container .skill-up ul li {
  font-size: 14px;
  letter-spacing: -0.04rem;
}
#about .skill-container .skill-up ul li b {
  font-size: 16px;
  padding-right: 10px;
}
#about .skill-container .skill-up .skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#about .skill-container .skill-up .skill ul {
  display: flex;
  flex-direction: column;
}
#about .skill-container .skill-up .skill ul li {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
#about .skill-container .skill-up .skill ul li ul {
  display: flex;
  flex-direction: row;
}
#about .skill-container .skill-up .skill ul li ul li img {
  width: 2.4vw;
  min-width: 40px;
  margin: 0 10px;
}
#about .skill-container .skill-up .skill ul li ul li .fa-brands {
  font-size: 2.5vw;
  margin: 0 7px;
}
#about .skill-container .skill-down {
  display: flex;
  flex-direction: column;
  width: 47%;
  position: relative;
}
#about .skill-container .skill-down .Career {
  display: flex;
  flex-direction: column;
}
#about .skill-container .skill-down .Career::before {
  content: "";
  position: absolute;
  top: 0;
  left: -45px;
  width: 1px;
  height: 65vh;
  background: #d3d3d3;
}
#about .skill-container .skill-down .Career .icon {
  padding-right: 30px;
}
#about .skill-container .skill-down .Career ul {
  margin-bottom: 20px;
}
#about .skill-container .skill-down .Career ul li ul {
  margin: 10px 15px 20px;
}
#about .skill-container .skill-down .Career ul li ul li {
  font-size: 14px;
  letter-spacing: -0.05rem;
  color: #5b5b5b;
}

#site {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
#site .inner {
  max-width: 1770px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
#site a {
  display: block;
  color: #fff;
  text-decoration: none;
}
#site .site-title {
  width: 15%;
  text-align: start;
  padding: 80px 0 55px;
  margin-right: 60px;
}
@media (max-width: 1280px) {
  #site .site-title {
    width: 100%;
    padding: 80px 0 40px;
  }
}
#site .site-title h2 {
  width: 100%;
  text-align: start;
  margin-bottom: 0px;
  font-size: 3vw;
  word-break: keep-all;
  color: #efefef;
  text-transform: none;
  line-height: 1.2;
}
#site .site-contents {
  display: flex;
  align-items: flex-start;
  gap: 3%;
  padding: 150px 80px 50px;
}
@media (max-width: 1500px) {
  #site .site-contents {
    padding: 150px 80px 50px;
  }
}
@media (max-width: 1280px) {
  #site .site-contents {
    flex-direction: column;
  }
}
#site .site-contents .site-view {
  width: 40%;
  height: 65vh;
}
@media (max-width: 1280px) {
  #site .site-contents .site-view {
    width: 100%;
  }
}
#site .site-contents .site-view .site-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#site .site-contents .site-view .site-img a {
  width: 100%;
}
#site .site-contents .site-view .site-img img {
  display: block;
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  transform: translateY(0);
  transition: 2s ease-in-out;
}
#site .site-contents .site-view .site-img img:hover {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(calc(-100% + 600px));
  transition: 2s ease-in-out;
}
@media (max-width: 800px) {
  #site .site-contents .site-view .site-img img:hover {
    transform: translateY(calc(-100% + 400px));
  }
}
@media (max-width: 528px) {
  #site .site-contents .site-view .site-img img:hover {
    transform: translateY(calc(-100% + 260px));
  }
}
#site .site-text {
  word-break: keep-all;
  padding: 85px 0px 100px;
  flex-grow: 1;
}
@media (max-width: 1280px) {
  #site .site-text {
    padding: 50px 0;
  }
}
#site .site-text .site-info {
  line-height: 1.6;
  font-size: 1.0625rem;
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  padding-bottom: 22px;
  word-break: keep-all;
}
#site .site-text .site-p {
  color: rgba(255, 255, 255, 0.7);
  word-break: keep-all;
}
#site .site-text .site-p ul {
  line-height: 1.6;
  text-align: start;
}
#site .site-text .site-p ul li {
  display: flex;
  width: 100%;
  padding-bottom: 4px;
}
#site .site-text .site-p ul li b {
  width: 100px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-right: 54px;
  word-break: keep-all;
}
#site .site-text .site-p ul li .span-text {
  width: 350px;
  display: flex;
  flex-direction: column;
}
#site .site-text .site-p ul li .span-text span {
  width: 350px;
  word-break: keep-all;
}
#site .site-icon .icon-link {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 75px;
}
@media (max-width: 800px) {
  #site .site-icon .icon-link {
    padding: 30px 0;
  }
}
#site .site-icon .icon-link a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
#site .site-icon .icon-link a img {
  width: 60px;
  height: 60px;
  padding: 10px;
}
#site .site-icon .icon-link a .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 50px;
  padding: 10px;
}
#site .site-icon .icon-link a .site-git {
  display: block;
  font-size: 40px;
  padding: 10px;
  position: static !important;
}

#site .fp-overflow,
.sec4 .fp-overflow {
  overflow-y: hidden;
}
#site .site-contents,
.sec4 .site-contents {
  padding: 150px 20px 50px 80px;
}
@media (max-width: 1500px) {
  #site .site-contents,
  .sec4 .site-contents {
    padding: 150px 80px 50px;
  }
}
@media (max-width: 1280px) {
  #site .site-contents,
  .sec4 .site-contents {
    padding: 0 80px;
  }
}
#site .site-contents .site-title h2,
.sec4 .site-contents .site-title h2 {
  font-size: 3vw;
  padding-right: -200px;
}

@media (max-width: 1280px) {
  #site .site-contents .site-view {
    height: 40vh;
  }
}
#site .site-contents .site-text {
  width: 23% !important;
}
@media (max-width: 1280px) {
  #site .site-contents .site-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100% !important;
    height: 196px;
  }
}
@media (max-width: 1280px) {
  #site .site-contents .site-icon {
    position: absolute;
    bottom: 200px;
    right: 44px;
  }
}

.fp-responsive .fp-is-overflow.fp-section {
  height: auto !important;
}

.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow > .fp-overflow {
  overflow-y: auto;
}

.fp-overflow {
  outline: 0;
}

.fp-overflow {
  justify-content: flex-start;
  max-height: 100%;
}

.fp-overflow {
  overflow-x: hidden;
}

#product {
  overflow: hidden;
  height: 100vh;
  max-width: 200rem;
  margin: 0 auto;
  position: relative;
  @import url("https://fonts.googleapis.com/css?family=Cardo:700");
}
#product .title {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  height: 20vh;
}
#product .title h2 {
  font-size: 4vw;
  white-space: nowrap;
  opacity: 0.85;
  line-height: 10vh;
  color: #808080;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-141.5vw, 0);
  }
}
#product .g-container {
  margin: 0 auto;
  width: 1220px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 1280px) {
  #product .g-container {
    width: 92vw;
  }
}
#product .g-container h2 {
  font-size: 3vw;
  color: #666666;
  padding: 25px 0;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#product .g-container .dar-logo {
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0.7;
  width: 200px;
  height: auto;
}
#product .g-container .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}
@media (max-width: 1280px) {
  #product .g-container .gallery-wrap {
    width: 80%;
  }
}
#product .g-container .item {
  flex: 2;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
#product .g-container .item:hover {
  flex: 5;
}
#product .g-container .item-1 {
  background-image: url("../../image/dar_1.jpg");
}
#product .g-container img {
  display: block;
  opacity: 0.8;
}

#graphic {
  height: 100vh;
  margin: 100px auto 0;
}
#graphic .sns-inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1500px) {
  #graphic .sns-inner {
    flex-direction: column;
    margin: 0 auto;
  }
}
#graphic .fp-overflow {
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}
#graphic .title {
  width: 20%;
  margin-left: 120px;
}
@media (max-width: 1500px) {
  #graphic .title {
    margin: 30px 0;
    width: 100%;
  }
}
#graphic .title h2 {
  font-size: 3vw;
  color: #4e4e4e;
  text-transform: uppercase;
  word-break: keep-all;
}
#graphic .sns-wrap {
  position: relative;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
}
@media (max-width: 1500px) {
  #graphic .sns-wrap {
    width: 100%;
  }
}
#graphic .sns-wrap * {
  box-sizing: border-box;
  font-weight: normal;
}
#graphic .sns-wrap body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}
#graphic .sns-wrap h1 {
  font-size: 2.2em;
}
#graphic .sns-wrap .horizontal {
  display: flex;
}
#graphic .sns-wrap .vertical {
  display: flex;
}
#graphic .sns-wrap .flip {
  position: relative;
}
#graphic .sns-wrap .flip > .front,
#graphic .sns-wrap .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
#graphic .sns-wrap .flip > .front {
  transform: rotateY(0deg);
  -o-object-fit: cover;
     object-fit: cover;
}
#graphic .sns-wrap .flip .front img {
  -o-object-fit: cover;
     object-fit: cover;
}
#graphic .sns-wrap .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
#graphic .sns-wrap .flip > .back h3 {
  word-break: keep-all;
  padding-bottom: 10px;
}
#graphic .sns-wrap .flip > .back p {
  word-break: keep-all;
}
#graphic .sns-wrap .flip:hover > .front {
  transform: rotateY(180deg);
}
#graphic .sns-wrap .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
#graphic .sns-wrap .flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
#graphic .sns-wrap .flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
#graphic .sns-wrap .flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
#graphic .sns-wrap .flip {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 1em;
  width: 280px;
}
@media (max-width: 1440px) {
  #graphic .sns-wrap .flip {
    width: 260px;
  }
}
@media (max-width: 1280px) {
  #graphic .sns-wrap .flip {
    padding-right: 13px;
    width: 230px;
  }
}
#graphic .sns-wrap .flip > .front,
#graphic .sns-wrap .flip > .back {
  display: block;
  color: white;
  width: 300px;
  background-size: cover !important;
  background-position: center !important;
  height: 370px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
@media (max-width: 1440px) {
  #graphic .sns-wrap .flip > .front,
  #graphic .sns-wrap .flip > .back {
    width: 270px;
    height: 340px;
  }
}
@media (max-width: 1280px) {
  #graphic .sns-wrap .flip > .front,
  #graphic .sns-wrap .flip > .back {
    width: 250px;
    height: 320px;
  }
}
#graphic .sns-wrap .flip > .front p,
#graphic .sns-wrap .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
#graphic .sns-wrap .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

#banner {
  height: 100vh;
}
#banner h2 {
  font-size: 4vw;
  color: #4e4e4e;
  word-break: keep-all;
  text-align: center;
  margin: 0 auto 45px;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#banner #slider {
  margin: 0 auto;
  width: 60%;
  overflow: hidden;
}
@media (max-width: 1440px) {
  #banner #slider {
    width: 80%;
  }
}
#banner #slider .slides {
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  display: none;
}
#banner #slider .slides img {
  width: 100%;
}
#banner #slider #dot {
  margin: 0 auto;
  text-align: center;
}
#banner #slider #dot .dot {
  display: inline-block;
  border-radius: 50%;
  background: #d3d3d3;
  padding: 5px;
  margin: 40px 5px;
}
#banner #slider #dot .dot.active {
  background: black;
}
@media (max-width: 567px) {
  #banner #slider #dot {
    width: 100%;
  }
}
#banner #slider #heading {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 10px 0;
}

#contact {
  height: 100vh;
}
#contact h2 {
  font-size: 4vw;
  color: #4e4e4e;
  word-break: keep-all;
  text-align: center;
}
#contact .me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  filter: grayscale(0.2);
}
#contact .social {
  text-align: center;
  font-size: 2.5em;
  color: #555;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}
#contact .cosial-icon {
  margin: 0.3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
#contact .cosial-icon:hover {
  margin-top: -1px;
}
#contact .cosial-icon#twitter:hover {
  color: #77ddf6;
}
#contact .cosial-icon#github {
  color: #474747;
}
#contact .cosial-icon#github:hover {
  color: black;
}
#contact .cosial-icon#instagram:hover {
  background: linear-gradient(rgb(113, 63, 251) 0%, rgb(194, 31, 145) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact .cosial-icon#tistory:hover {
  color: rgb(202, 0, 0);
}
#contact .cosial-icon#mail:hover {
  color: #0126f7;
}

.copyright {
  text-align: center;
  margin-top: 100px;
}

#motion {
  height: 100vh;
  text-align: center;
}
#motion h2 {
  position: relative;
  font-size: 4vw;
  color: #4e4e4e;
  word-break: keep-all;
  margin-bottom: 30px;
}
#motion .motion-video {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#motion hr {
  display: block;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 50%;
}

* {
  scroll-behavior: smooth;
}

@media (max-width: 1440px) {
  .inner {
    margin: 0 25px;
  }
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}
@media (max-width: 1500px) {
  body .fp-overflow {
    margin: 0 50px;
  }
}
body .fp-responsive .fp-is-overflow.fp-section {
  height: auto !important;
}
body .fp-is-overflow .fp-overflow.fp-auto-height,
body .fp-is-overflow .fp-overflow.fp-auto-height-responsive,
body .fp-is-overflow > .fp-overflow {
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.sec1 {
  background-color: #efefef;
}

.sec2 {
  background-color: #d9d9d9;
  background-image: linear-gradient(172deg, #efefef 33%, #d9d9d9 88%);
}

.sec3 {
  background-color: #747070;
  background-image: linear-gradient(185deg, #d9d9d9 0%, #747070 68%);
}

.sec4 {
  background-color: #535050;
  background-image: linear-gradient(172deg, #747070 33%, #535050 88%);
}

.sec5 {
  background-color: #535050;
  background-image: linear-gradient(179deg, #535050 26%, #c2bfbf 84%);
}

.sec6 {
  background-color: #e6e6e6;
  background-image: linear-gradient(167deg, #c2bfbf 26%, #ebebeb 74%);
}

.sec7 {
  background-color: #ebebeb;
}

.sec8 {
  background-color: #ebebeb;
}

.sec9 {
  background-color: #e6e6e6;
  background-image: linear-gradient(180deg, #ebebeb 0%, #ececec 74%);
}

#nav {
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  z-index: 100;
  top: 0;
  opacity: 1;
  display: flex;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
}
#nav ul {
  display: flex;
  padding: 10px 20px;
}
#nav ul li {
  padding: 20px;
}
#nav ul li a {
  display: block;
  width: 100%;
}

#intro {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#intro h1 {
  font-size: 4vw;
  margin: 0 5vw;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
#intro .typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 5vw;
  color: #494949;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#intro h3 {
  margin: 5px 20vw;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  margin-top: 5px;
}

.fp-watermark {
  display: none;
}/*# sourceMappingURL=comm.css.map */