@charset "UTF-8";
@import "setting/variables", "setting/mixin", "setting/fonts", "setting/reset", "section/about", "section/site",
  "section/product", "section/sns", "section/banner", "section/contact", "section/motion";

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}
a {
  text-decoration: none;
}
.sec1 {
  background-color: #efefef;
}
.sec2 {
  background-color: #d9d9d9;
  background-image: linear-gradient(172deg, #efefef 33%, #d9d9d9 88%);
}
.sec3 {
  background-color: #747070;
  background-image: linear-gradient(185deg, #d9d9d9 0%, #747070 68%);
}
.sec4 {
  background-color: #535050;
  background-image: linear-gradient(172deg, #747070 33%, #535050 88%);
}
.sec5 {
  background-color: #535050;
  background-image: linear-gradient(179deg, #535050 26%, #c2bfbf 84%);
}
.sec6 {
  background-color: #e6e6e6;
  background-image: linear-gradient(167deg, #c2bfbf 26%, #ebebeb 74%);
}
.sec7 {
  background-color: #ebebeb;
}
.sec8 {
  background-color: #ebebeb;
}
.sec9 {
  background-color: #e6e6e6;
  background-image: linear-gradient(180deg, #ebebeb 0%, #ececec 74%);
}

// intro
#intro {
  // height: 100vh;
  h1 {
    font-size: 4vw;
    // font-size: 3.125rem;
    // font-size: 2rem;
    margin: 0 5vw;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
  .typing-demo {
    width: 22ch;
    animation:
      typing 2s steps(22),
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    // font-family: monospace;
    font-size: 5vw;
    color: #494949;
    // font-size: 2.5rem;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  h3 {
    margin: 5px 20vw;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    margin-top: 5px;
  }
}
.fp-watermark {
  display: none;
}
